<header>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-xxl">
                <h1 class="fw-bold text-center">Chaithanya Bonthala</h1>
                <div class="intro mt-4 d-flex align-items-center justify-content-between">
                    <span>I am an Interaction Designer.</span>
                    <i class="bi bi-palette fs-3"></i>
                </div>
                <!-- intro ends here -->
            </div>
        </div>
    </div>
</header>
