<h4 class="fw-bold mb-4">About</h4>
<div class="card">
  <img src="assets/images/chaithanya.png" class="card-img-top" alt="">
  <div class="card-body">
    <h3 class="card-title mb-0">Chaithanya Bonthala</h3>
    <span class="small">Interaction Designer, Becton, Dickinson and Company</span>
    <p class="card-text mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim. <a href="">Read More</a></p>
    <ul class="list-unstyled">
      <li>
        <b>Born:</b> August 8, 1997 (age 22 years), Kurnool, Andhra Pradesh
      </li>
      <li>
        <b>Net worth:</b> US$88.9 billion (December 2019)
      </li>
      <li>
        <b>Born:</b> August 8, 1997 (age 22 years), Kurnool, Andhra Pradesh
      </li>
      <li>
        <b>Born:</b> August 8, 1997 (age 22 years), Kurnool, Andhra Pradesh
      </li>
      <li>
        <b>Born:</b> August 8, 1997 (age 22 years), Kurnool, Andhra Pradesh
      </li>
    </ul>
  </div>
</div>
