<h4 class="fw-bold mb-4">About</h4>
<div class="card">
  <img src="assets/images/chaithanya.png" class="card-img-top" alt="">
  <div class="card-body overflow-auto">
    <!-- The Timeline -->
    <ul class="timeline">
      <!-- Item 1 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">University of Nottingham</span>
            <span class="time-wrapper"><span class="time">2021 - present</span></span>
          </div>
          <div class="desc">MSc in Human Computer Interaction</div>
        </div>
      </li>
      <!-- Item 2 -->
      <li>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="flag">Becton Dickinson, and company</span>
            <span class="time-wrapper"><span class="time">2018 - 2021</span></span>
          </div>
          <div class="desc">Specialist II, User Interaction Design</div>
        </div>
      </li>
      <!-- Item 3 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="flag">Lovely Professional University</span>
            <span class="time-wrapper"><span class="time">20014 - 2018</span></span>
          </div>
          <div class="desc">Bachelors in Computer Science</div>
        </div>
      </li>
    </ul>
  </div>
</div>
