<app-header></app-header>
<!-- header ends here -->
<main class="main-content">
  <app-particles></app-particles>
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-6 order-bottom">
        <app-projects></app-projects>
        <!-- projects ends here -->
        <app-people-also-ask></app-people-also-ask>
        <!-- people also ask ends here -->
        <app-profile></app-profile>
        <!-- profile ends here -->
      </div>
      <div class="col-lg-6 order-top">
        <app-about> </app-about>
        <!-- about ends here -->
      </div>
    </div>
  </div>
</main>
<!-- main content ends here -->
<app-footer></app-footer>
<!-- footer ends here -->
