@import "../../assets/variables.scss";
.profile-info {
  .card-body {
    a {
      text-decoration: none;
      i {
        font-size: 3rem;
      }
      img {
        width: 3rem;
      }
    }
  }
}
