<h4 class="fw-bold mt-5 mb-4">Profile</h4>
<div class="card profile-info">
    <div class="card-body d-flex justify-content-between p-4">
      <a href="https://github.com/git-om" target="_blank"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com/in/chaithanya-bonthala-937b61119/" target="_blank"><i class="bi bi-linkedin"></i></a>
      <a href="https://www.youtube.com/channel/UCeNwyWHvyYKMMR1Mu2ieIwg" target="_blank"><i class="bi bi-youtube"></i></a>
      <a href="https://www.behance.net/chaithanya_bonthala" target="_blank"><img src="../../assets/images/behance.png" alt="behance"></a>
      <a href="https://dribbble.com/chaithanya_bonthala" target="_blank"><img src="../../assets/images/dribbble.png" alt="dribbble"></a>
      <a href="https://stackblitz.com/@git-om" target="_blank"><img src="../../assets/images/stackblitz.png" alt="stackblitz"></a>
      <a href="https://codepen.io/chaithanya-bonthala" target="_blank"><img src="../../assets/images/codepen.png" alt="codepen"></a>
    </div>
  </div>
